body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://www.xtrafondos.com/wallpapers/nebula-en-andromeda-11050.jpg');
  /*background-image: url('https://xtrafondos.com/descargar.php?id=3149&resolucion=2560');*/
  background-attachment: fixed; 
  background-size: cover;
}
